{[template "backend/common/header.tmpl" .]}


<div class="layui-fluid">
    <div class="layui-col-md12" style="padding: 5px;">
        <div class="layui-card">
            <div class="layui-card-body">

                <div class="layui-form toolbar" style="margin-top: 10px;margin-bottom: 10px;">
                <form class="layui-form" action="" id="monitor_log_form" onclick="return false;">

                    <div class="layui-inline mr0">
                        <div class="layui-input-inline mr0">
                            <input name="times" id="date_range" class="layui-input date-icon h30" type="text" placeholder="请选择日期范围" autocomplete="off">
                        </div>
                    </div>

                    <div class="layui-inline mr0">
                        <div class="layui-input-inline h30">
                            <select name="type" id="type" class="layui-input h30">
                                <option value="">查询</option>
                                <option value="monitor_id">监控ID</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline mr0">
                        <div class="layui-input-inline mr0">
                            <input type="text" name="key" placeholder="关键词" autocomplete="off" class="layui-input h30" value="">
                        </div>
                    </div>


                    <div class="layui-inline mr0">
                        <button class="layui-btn layui-btn-sm" id="table-sreach" data-id="list" lay-submit lay-filter="table-sreach"><i class="layui-icon">&#xe615;</i>搜索
                        </button>
                    </div>
                </form>
                </div>

                <div id="list"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

layui.config({base: '/static/layuiadmin/'}).use(['table','jquery','layer'], function(){
///
var admin = layui.admin
,$ = layui.$
,form = layui.form
,table = layui.table
,layer = layui.layer;

var tableIns, tableData = [];

function renderTable(){
    // 获取表单参数
    var where_data = $('#monitor_log_form').serializeArray();
    where_data = array2arr(where_data);
    
    tableIns = table.render({
        elem: '#list',
        url: '/{[.admin_path]}/monitor/log/list',
        where: where_data,
        title: '数据表',
        cols: [[
            {field:'id', title:'ID', width:80},
            {field:'monitor_id', title:'监控ID', width:80},
            {field:'day', title:'日期', width:120,templet: function(d){return (d.day+'').replace(/(\d{4})(\d{2})(\d{2})/, '$1-$2-$3')}},
            {field:'hour', title:'小时', templet: function(d){return String(d.hour).padStart(2,'0');}},
            {field:'minute', title:'分钟', templet: function(d){return String(d.minute).padStart(2,'0');}},
            {field:'is_valid', title:'状态', toolbar: "#isVaildTpl"},
            {field:'size', title:'大小',width:100,templet: function(d){if(d.size < 1024){return d.size + ' B';}else{return (d.size / 1024).toFixed(2) + ' KB';}}},
            {field:'speed', title:'耗时(ms)'},
            {field:'create_time', title:'创建时间', width:185, templet: function(d){return layui.util.toDateString(d.create_time * 1000, 'yyyy-MM-dd HH:mm:ss');}},
            {title:'操作', toolbar: '#cmdTpl', width:70, fixed: 'right'}
        ]],
        page: true,
        done: function(res, curr, count){
            $('#list').next('.layui-table-view').find('span.error-tip').on('mouseenter', function(){
                var errorMsg = $(this).attr('data-error');
                var hour = String($(this).attr('data-hour')).padStart(2, '0');
                var minute = String($(this).attr('data-minute')).padStart(2, '0');
                var msg = '错误: ' + errorMsg + ' | 时间: ' + hour + ':' + minute;
                layer.tips(msg, this, {tips: [1, '#FF5722']});
            }).on('mouseleave', function(){
                layer.closeAll('tips');
            });
            $('#list').next('.layui-table-view').find('span.speed-tip').on('mouseenter', function(){
                var speed = $(this).attr('data-speed');
                var sizeKB = (parseInt($(this).attr('data-size')) / 1024).toFixed(2) + ' KB';
                var hour = String($(this).attr('data-hour')).padStart(2, '0');
                var minute = String($(this).attr('data-minute')).padStart(2, '0');
                var msg = '耗时: ' + speed + 'ms | 大小: ' + sizeKB + ' | 时间: ' + hour + ':' + minute;
                layer.tips(msg, this, {tips: [1, '#5FB878']});
            }).on('mouseleave', function(){
                layer.closeAll('tips');
            });
        }
    });

}

renderTable();

// search
form.on('submit(table-sreach)', function(){
    renderTable();
    return false;
});
///
});
</script>

<script type="text/html" id="isVaildTpl">
{{# if(d.is_valid == 1){ }}
<span style="color:green;text-align:center;display:block;" data-speed="{{d.speed}}" data-size="{{d.size}}" data-hour="{{d.hour}}" data-minute="{{d.minute}}" class="speed-tip">●</span>
{{# } else if(d.is_valid == 0){ }}
<span style="color:red;text-align:center;display:block;" data-error="{{d.error_msg}}" data-hour="{{d.hour}}" data-minute="{{d.minute}}" class="error-tip">●</span>
{{# } }}
</script>

<script type="text/html" id="cmdTpl">
<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event='delete' onclick="Admin.del(this, '/{[$.admin_path]}/monitor/log/delete','{{d.id}}','{{d.monitor_id}}')">删除</a>
</script>

{[template "backend/common/footer.tmpl" .]}