{[template "home/common/header.tmpl" .]}

<div class="status-container" id="group-container">
    <div class="loading" style="text-align: center;">加载中...</div>
</div>

{[template "home/common/footer.tmpl" .]}