{[template "home/common/header.tmpl" .]}

<div class="tabs" id="status-tabs">
    <div class="tab active" data-tab="all">All</div>
</div>

<div class="status-container" id="status-container">
    <div class="loading" style="text-align: center;">加载中...</div>
</div>

{[template "home/common/footer.tmpl" .]}