{[template "backend/common/header_head.tmpl" .]}


<style type="text/css">
.layui-form-item .layui-input-inline{
    width: auto;
    margin-left: 5px;
}
.type-input{
    height:70px;
    overflow-y: auto;
}
.type-input::-webkit-scrollbar {
    /*滚动条整体样式*/
    width : 10px;  /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
.type-input::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    background   : #666;
}
.type-input::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background   : #ededed;
}
.layui-form-radio{
    margin: 0; 
    padding-right: 0;
}

.layui-form-pane .layui-form-checkbox {
    margin: 4px 0 4px 1px;
}
.layui-form-checkbox[lay-skin=primary] span {
    padding-right: 4px;
}
.layui-form-checkbox[lay-skin=primary] i {
    left: 6px;
}
.layui-form-item .layui-col-xs12{
    margin-top: 10px;
}
@media screen and (max-width: 990px){
    .layui-form-item .layui-col-xs12:first-child{
        margin-top: 0px;
    }
    .layui-form-item{
        margin-bottom: 10px; 
    }
}

.hide{
    display: none;
}
</style>
<!-- start -->

<div class="layui-fluid">

    <div class="layui-form toolbar layui-padding-3" style="margin-top: 10px;margin-bottom: 10px;">
    <form class="layui-form layui-form-pane" onclick="return false;">
        <table class="layui-table">
            <colgroup><col width="150"><col></colgroup>
            <tbody>
                <tr>
                    <td>名称</td>
                    <td>
                        <div class="layui-input-inline">
                            <input type="text" name="name" autocomplete="off" class="layui-input" value="{[if .Data]}{[.Data.Name]}{[end]}" placeholder="名称">
                        </div>
                        <br/>
                        <p class="layui-font-12">填写一个容易识别的名称。</p>
                    </td>
                </tr>

                <tr>
                    <td>分组</td>
                    <td>
                        <div class="layui-input-inline">
                            <select name="gid" id="gid" class="layui-input h30">
                                <option value="0" {[if .Data]}{[if eq .Data.Gid 0 ]}selected{[end]}{[else]}selected{[end]}>未分组</option>
                                {[range $g := .groups]}
                                <option value="{[$g.ID]}" {[if $.Data]}{[if eq $.Data.Gid $g.ID ]}selected{[end]}{[end]}>{[$g.Name]}</option>
                                {[end]}
                            </select>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>类型</td>
                    <td>
                        <div class="layui-input-inline">
                            <select name="type" lay-verify="required" lay-search lay-filter="type">
                                <option value="">[选择类型]</option>
                                <option value="http" {[if $.Data]}{[if eq $.Data.Type "http" ]}selected{[end]}{[end]}>HTTP(S)</option>
                                <option value="tcp" {[if $.Data]}{[if eq $.Data.Type "tcp" ]}selected{[end]}{[end]}>TCP</option>
                                <option value="udp" {[if $.Data]}{[if eq $.Data.Type "udp" ]}selected{[end]}{[end]}>UDP</option>
                            </select>
                        </div>
                        <br/>
                        <p class="layui-font-12">通过HTTP请求发送通知。</p>
                    </td>
                </tr>

                <tr class="id_http bls" style="display:none;">
                    <td>监控地址 *</td>
                    <td>
                        <div class="layui-input-line">
                            <input type="text" name="addr" autocomplete="off" class="layui-input" placeholder="请输入目标地址" value="{[if $.Data]}{[$.Data.GetHttpTypeParams.Addr]}{[end]}">
                        </div>
                        <p class="layui-font-12">监控地址。</p>
                    </td>
                </tr>

                <tr class="id_http bls" style="display:none;">
                    <td>是否包含内容</td>
                    <td>
                        <div class="layui-input-line">
                            <input type="text" name="check_content" autocomplete="off" class="layui-input" placeholder="检查内容" value="{[if $.Data]}{[$.Data.GetHttpTypeParams.CheckContent]}{[end]}">
                        </div>
                        <p class="layui-font-12">填写后会检查内容是否包含填写内容，影响状态。</p>
                    </td>
                </tr>

                <tr class="id_http bls" style="display:none;">
                    <td>UserAgent</td>
                    <td>
                        <div class="layui-input-line">
                            <select lay-verify="required" lay-search lay-filter="select_useragent">
                                <option value="Mozilla/5.0 (Linux; U; Android 12; zh-cn; PECM30 Build/SP1A.210812.016) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/115.0.5790.168 Mobile Safari/537.36 HeyTapBrowser/40.10.5.1">Android手机模拟</option>
                                <option value="Mozilla/5.0 (iPhone; CPU iPhone OS 17_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.0 Mobile/15E148 Safari/604.1">iPhone (iOS 17)</option>
                                <option value="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36">Chrome (Windows)</option>
                                <option value="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.0 Safari/605.1.15">Safari (macOS)</option>
                            </select>
                            <br>
                            <input type="text" name="user_agent" autocomplete="off" class="layui-input" placeholder="" value="{[if $.Data]}{[$.Data.GetHttpTypeParams.UserAgent]}{[end]}">
                        </div>
                        <p class="layui-font-12">用户代理</p>
                    </td>
                </tr>

                <tr class="id_tcp bls" style="display:none;">
                    <td>主机名</td>
                    <td>
                        <div class="layui-input-line">
                            <input type="text" name="tcp_host" autocomplete="off" class="layui-input" value="{[if $.Data]}{[$.Data.GetTcpTypeParams.Host]}{[end]}">
                        </div>
                    </td>
                </tr>

                <tr class="id_tcp bls" style="display:none;">
                    <td>端口</td>
                    <td>
                        <div class="layui-input-line">
                            <input type="number" name="tcp_port" autocomplete="off" class="layui-input" value="{[if $.Data]}{[$.Data.GetTcpTypeParams.Port]}{[end]}">
                        </div>
                    </td>
                </tr>

                <tr class="id_udp bls" style="display:none;">
                    <td>主机名</td>
                    <td>
                        <div class="layui-input-line">
                            <input type="text" name="udp_host" autocomplete="off" class="layui-input" value="{[if $.Data]}{[$.Data.GetUdpTypeParams.Host]}{[end]}">
                        </div>
                    </td>
                </tr>

                <tr class="id_udp bls" style="display:none;">
                    <td>端口</td>
                    <td>
                        <div class="layui-input-line">
                            <input type="number" name="udp_port" autocomplete="off" class="layui-input" value="{[if $.Data]}{[$.Data.GetUdpTypeParams.Port]}{[end]}">
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>心跳间隔</td>
                    <td>
                        <div>
                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <input style="width: 60px;" type="number" name="interval" autocomplete="off" class="layui-input" value="{[if $.Data]}{[if $.Data.Interval]}{[$.Data.Interval]}{[else]}60{[end]}{[else]}60{[end]}">
                                </div>
                                <div class="layui-input-inline">
                                    <select name="interval_type" lay-verify="required">
                                        <option value="second" {[if $.Data]}{[if eq $.Data.IntervalType "second" ]}selected{[end]}{[end]}>秒</option>
                                        <option value="minute" {[if $.Data]}{[if eq $.Data.IntervalType "minute" ]}selected{[end]}{[end]}>分钟</option>
                                        <option value="hour" {[if $.Data]}{[if eq $.Data.IntervalType "hour" ]}selected{[end]}{[end]}>小时</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <p class="layui-font-12">心跳间隔/检测频率</p>
                    </td>
                </tr>

                <tr>
                    <td>重试次数</td>
                    <td>
                        <div class="layui-input-inline">
                            <input style="width: 60px;" type="number" name="max_retries" autocomplete="off" class="layui-input" value="{[if $.Data]}{[if $.Data.MaxRetries]}{[$.Data.MaxRetries]}{[else]}3{[end]}{[else]}3{[end]}">
                        </div>
                        <p class="layui-font-12">服务被标记为故障并发送通知之前的最大重试次数</p>
                    </td>
                </tr>

                <tr>
                    <td>请求超时</td>
                    <td>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input style="width: 60px;" type="number" name="timeout" autocomplete="off" class="layui-input" value="{[if $.Data]}{[if $.Data.Timeout]}{[$.Data.Timeout]}{[else]}5{[end]}{[else]}5{[end]}">
                            </div>
                            <label class="layui-form-label" style="width: 100px;float: right;">s(秒)</label>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <a class="table_more mlink" target_class="more_table">
                            <cite>更多选项</cite>
                            <i class="layui-icon layui-icon-down layui-nav-more"></i>
                        </a>
                    </td>
                </tr>

                <tr class="more_table hide">
                    <td>启用当前检测</td>
                    <td>
                        <input type="checkbox" name="status"
                        {[if $.Data]}{[if $.Data.Status]}checked{[end]}
                        {[else]}checked
                        {[end]}> 
                    </td>
                </tr>

                <tr class="more_table hide">
                    <td>备注</td>
                    <td><textarea id="editor2" name="mark" class="layui-textarea" style="min-height:100px;" placeholder="">{[if $.Data]}{[$.Data.Mark]}{[end]}</textarea></td>
                </tr>
                
            </tbody>
        </table>


        <div class="layui-form-item" style="text-align: center;">
            <input type="hidden" name="id" value="{[if $.Data]}{[$.Data.ID]}{[end]}">
            <button class="layui-btn" lay-filter="submit_monitor" lay-submit>保存</button>
        </div>
    </form>
    </div>

</div>


<script type="text/javascript">

layui.config({base: '/static/layuiadmin/'}).use(['table','jquery'], function(){
///
var admin = layui.admin
,$ = layui.$
,form = layui.form
,table = layui.table;

function initType(data){
    $('.id_http,.id_tcp,.id_udp').hide();
    if (data === 'http') {
        $('.id_http').show();
    } else if (data === 'tcp') {
        $('.id_tcp').show();
    } else if (data === 'udp') {
        $('.id_udp').show();
    }
}

var data = $('select[name=type]').val();
initType(data);

form.on('select(type)', function(data){
    initType(data.value);
});

form.on('select(select_useragent)', function(data){
    $('input[name="user_agent"]').val(data.value);
});

// 处理更多选项的显示/隐藏
$('.table_more').on('click', function(){
    var targetClass = $(this).attr('target_class');
    var $targets = $('.' + targetClass);
    var $icon = $(this).find('.layui-icon');
    
    if ($targets.hasClass('hide')) {
        $targets.removeClass('hide');
        $icon.removeClass('layui-icon-down').addClass('layui-icon-up');
    } else {
        $targets.addClass('hide');
        $icon.removeClass('layui-icon-up').addClass('layui-icon-down');
    }
});


form.on("submit(submit_monitor)", function(data){
    var index = layer.load();
    var field = data.field;

    if (field['status'] == "on"){
        field['status'] = 1;
    } else {
        field['status'] = 0;
    }

    $.post("/{[$.admin_path]}/monitor/add", field, function(res) {
        showMsg(res.msg, function(){
            layer.close(index);
            if(res.code > -1){
                parent.location.reload();
            }
        },{icon: res.code > -1 ? 1 : 2,shift:res.code>-1 ? 0 : 6});
    },'json');
    return false;
});


///
});
</script>

{[template "backend/common/footer.tmpl" .]}
