{[template "backend/common/header.tmpl" .]}

<div class="layui-fluid">
    <div class="layui-col-md12" style="padding: 5px;">
        <div class="layui-card">
            <div class="layui-card-body">

                <div class="layui-form toolbar" style="margin-top: 10px;margin-bottom: 10px;">
                <form class="layui-form" action="" id="monitor_form" onclick="return false;">

                    <button type="button" class="layui-btn layui-btn-sm" onclick="Admin.open('添加','/{[$.admin_path]}/monitor/add',800,600)">
                        <i class="layui-icon layui-icon-add-circle"></i> 添加
                    </button>

                    <div class="layui-inline mr0">
                        <div class="layui-input-inline h30">
                            <select name="gid" id="gid" class="layui-input h30">
                                <option value="">分组</option>
                                {[range $g := .groups]}
                                <option value="{[$g.ID]}">{[$g.Name]}</option>
                                {[end]}
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline mr0">
                        <div class="layui-input-inline mr0">
                            <input type="text" name="key" placeholder="关键词" autocomplete="off" class="layui-input h30" value="">
                        </div>
                    </div>
                

                    <div class="layui-inline mr0">
                        <button class="layui-btn layui-btn-sm" id="table-sreach" data-id="list" lay-submit lay-filter="table-sreach"><i class="layui-icon">&#xe615;</i>搜索
                        </button>
                    </div>
                </form>
                </div>

                <div id="list"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
//分组映射
console.log('Groups data:', {[.groups | json]});
var groupMapStr = {[.groups | json]};
console.log('GroupMap string:', groupMapStr);
var groupMap = [];
try {
    groupMap = JSON.parse(groupMapStr);
    console.log('Parsed groupMap:', groupMap);
} catch (e) {
    console.error('Failed to parse groupMap:', e);
    groupMap = [];
}
console.log('GroupMap type:', typeof groupMap);
console.log('GroupMap is array:', Array.isArray(groupMap));
var groupNameMap = {};
if (Array.isArray(groupMap)) {
    groupMap.forEach(function(group) {
        groupNameMap[group.id] = group.name;
        console.log('Added group:', group.id, group.name);
    });
} else {
    console.error('groupMap is not an array:', groupMap);
    groupMap = [];
}
console.log('GroupNameMap:', groupNameMap);

layui.config({base: '/static/layuiadmin/'}).use(['table','jquery'], function(){
///
var admin = layui.admin
,$ = layui.$
,form = layui.form
,table = layui.table;



table.render({
    elem: '#list',
    url: '/{[.admin_path]}/monitor/list',
    title: '数据表',
    cols: [[
        {field:'name', title:'名称',},
        {field:'gid', title:'分组',width:120, toolbar:"#gidTpl"},
        {field:'type', title:'类型',width:120},
        {field:'status', title:'状态', toolbar:"#statusTpl",width:100},
        {title:'操作', toolbar: '#cmdTpl', width:120, fixed: 'right'}
     ]],
    page: true,
    done: function(res, curr, count){
        console.log('Table response:', res);
        console.log('Current page:', curr);
        console.log('Total count:', count);
    }
});



table.on('tool(list)', function(obj){
    switch(obj.event){
    };
});


table.on('toolbar', function(obj){
    switch(obj.event){
    };
});


///
});
</script>

<script type="text/html" id="statusTpl">
{{# if (d.status == 1){ }}
<a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="status">已启用</a>
{{# } else if (d.status == 0) { }}
<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="status">已暂停</a>
{{# } }}
</script>



<script type="text/html" id="gidTpl">
{{# var groupName = '-'; }}
{{# if(d.gid == 0) { }}
  {{# groupName = '-'; }}
{{# } else { }}
  {{# groupName = groupNameMap[d.gid] || d.gid; }}
{{# } }}
<span class="layui-badge layui-bg-blue">{{groupName}}</span>
</script>




<script type="text/html" id="cmdTpl">
<a class="layui-btn layui-btn-xs" lay-event='edit' onclick="Admin.open('修改','/{[$.admin_path]}/monitor/add?id={{d.id}}',800,600)">修改</a>
<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event='delete' onclick="Admin.del(this, '/{[$.admin_path]}/monitor/delete','{{d.id}}')">删除</a>
</script>

{[template "backend/common/footer.tmpl" .]}
